---
---

@import "{{ site.theme }}";

#forkme_banner {
background: url('../images/blacktocat.png') #ffc700 no-repeat 95% 50%;
}

#main_content_wrap {
	background: #FFF;
	border: 0px;
}

img {
	border: none;
	box-shadow: none;
}

hr {
	background: none;
	background-color: #e1e4e8;
	border: 0;
	height: .25em;
	margin: 24px 0;
	padding: 0;
}

h2 {
	border-bottom: 1px solid #eaecef;
	padding-bottom: .3em;

	background: none;
}
